{% extends 'base.html' %} {% block content %}
<div class=" p-3"></div>
<h1 class="text-warning text center text-block">Book Tracker Page</h1>
</div>

<h5 class="text-warning">Name:</h5>
<p>{{name}}</p>

<h5 class="text-warning">Class:</h5>
<p>{{class}}</p>


<table id="book_table"></table>
    
    <br />
    <div id="wrap">
      <div id="main" class="container clear-top">
        <p><div class="position-relative">
          <div class="position-absolute top-100 start-50 translate-middle">
          <p class=text-warning-emphasis>Last login session: {{ last_login }}</p>
        </div>
      </div></p>
      </div>
    </div>
    <footer class="footer"></footer>

    <div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="form">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="name" class="col-form-label">Name:</label>
                          <input type="text" class="form-control" id="name" name="name"></input>
                      </div>
                      <div class="mb-3">
                          <label for="page" class="col-form-label">Page:</label>
                          <input type="number" class="form-control" id="page" name="page"></input>
                      </div>
                      <div class="mb-3">
                          <label for="description" class="col-form-label">Description:</label>
                          <textarea class="form-control" id="description" name="description"></textarea>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal" onclick="addBook()">Add Book</button>
              </div>
          </div>
      </div>
  </div>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Book by AJAX
</button>

    <script>
      async function getBooks() {
          return fetch("{% url 'main:show_json' %}").then((res) => res.json())
      }

      async function refreshBooks() {
        document.getElementById("book_table").innerHTML = ""
        const books = await getBooks()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Page</th>
            <th>Description</th>
            <th>Date Added</th>
        </tr>`
        books.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.page}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
        </tr>` 
        })

        document.getElementById("book_table").innerHTML = htmlString
    }

    refreshBooks()

    function addBook() {
        fetch("{% url 'main:add_book_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshBooks)

        document.getElementById("form").reset()
        document.getElementById("button_add").onclick = addBook
        return false
    }
  </script>
      
  
  {% endblock content %}